body {
  font-family: 'Rubik', sans-serif;
  background-image: url('./img/subtle_textured_yellow_background.jpg');
}

.jumbotron-container {
    position: relative;
    overflow: hidden;
}
.jumbotron-container section {
    position: relative;
    z-index: 2;
}
.jumbotron-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.my-hr {
  border-top: 1px solid black;
}

.video {
  max-width: 100%;
  height: auto;
}


/* To animate the profile picture */
@keyframes bounce {
  0% { transform: translateY(-5); }
  100% { transform: translateY(-20px); }
}

.hover-car:hover {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
