body {
  font-family: 'Rubik', sans-serif;
  background-image: url('./img/subtle_textured_yellow_background.jpg');
}

.jumbotron-container {
    position: relative;
    overflow: hidden;
}
.jumbotron-container section {
    position: relative;
    z-index: 2;
}
.jumbotron-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.my-hr {
  border-top: 1px solid black;
}
